/cache
/__pycache__
/adaptation_evolution/__pycache__
/adaptation_evolution/cache
/animations/__pycache__
/animations/cache
/plots
/new_version_colony_evolution/__pycache__
.DS_Store
.vscode
/minimal/__pycache__
